<h2>About Me</h2>
<p>Geography and Geographic Information Science student at the University of Illinois at Urbana Champaign</p>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/edisondotme">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:me@edisonorellana.com?Subject=I%20saw%20your%20website..." target="_top">Contact Me</a>
  </li>
</ul>
